    .signup-container {
        padding: 25px 35px;
        height: 100vh;
        background-color: rgb(226, 241, 231);

    }

    .signup-box {
        width: 48%;
        background-color: white;
        margin: 0 auto;
        margin-top: 15px;

        padding: 25px 30px;
        border-radius: 8px;
        position: relative;
    }

    .signup-box .title {
        display: flex;
        font-size: .7rem;

    }

    .signup-box .title .star {
        margin-left: 5px;
        color: rgb(13, 124, 105);

    }


    .signup-box .Header {
        font-weight: bold;
        font-size: 1.2rem;
        color: #333;
    }



    /*----------------Name-------------*/

    .name-container {
        display: flex;
    }

    .signup-box .name-container .FirstName {
        width: 50%;
    }

    .signup-box .name-container .FirstName input {
        padding: 10px;
        border-radius: 8px;
        width: 100%;
        border: .5px solid #111;
        outline: none;

    }


    .signup-box .name-container .FirstName p {
        font-size: .7rem;
    }

    .signup-box .name-container .LastName {
        width: 50%;
        margin-left: 20px;
    }


    .signup-box .name-container .LastName input {
        padding: 10px;
        border-radius: 8px;
        width: 100%;
        border: .5px solid #111;
        outline: none;
    }

    .signup-box .name-container .LastName p {
        font-size: .7rem;
    }

    /*----------------Email-------------*/

    .signup-box .Email-container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .signup-box .Email-container p {
        font-size: .7rem;

    }


    .signup-box .Email-container input {

        outline: none;
        padding: 10px;
        border-radius: 8px;
        border: .5px solid #111;

    }

    /*----------------QueryType-------------*/

    .signup-box .QueryType-continer {
        display: flex;
        flex-direction: column;


    }

    .signup-box .QueryType-continer .title {
        margin-top: 15px;


    }

    .signup-box .QueryType-continer .query-main {
        display: flex;
        flex-direction: row;


    }

    .signup-box .QueryType-continer p {
        font-size: .7rem;

    }

    .signup-box .QueryType-continer .query2 {
        border: .5px solid #111;
        border-radius: 8px;
        padding: 10px;
        margin-left: 10px;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;




    }

    .signup-box .QueryType-continer .query1 {
        border: .5px solid #111;
        border-radius: 8px;
        padding: 10px;

        width: 50%;
        display: flex;
        align-items: center;



    }


    .signup-box .QueryType-continer .query1 input {
        width: 15px;
        height: 15px;
    }

    .signup-box .QueryType-continer .query1 span {
        margin-left: 5px;
        font-size: .7rem;
    }

    .signup-box .QueryType-continer .query2 input {
        width: 15px;
        height: 15px;
    }

    .signup-box .QueryType-continer .query2 span {
        margin-left: 5px;
        font-size: .7rem;
    }


    /*----------------Message-------------*/


    .signup-box .Message-Constainer {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

    }



    .signup-box .Message-Constainer p {}

    .signup-box .Message-Constainer input {
        padding: 50px;
        border-radius: 8px;
        border: .5px solid #111;
        outline: none;
    }

    /*----------------footer-------------*/

    .signup-box .footer {
        display: flex;
        flex-direction: column;

        margin-top: 34px;
    }

    .signup-box .footer .check {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .signup-box .footer .check input {
        display: flex;
        flex-direction: row;

    }

    .signup-box .footer .check span {
        margin-left: 10px;
        font-size: .8rem;
        text-align: center;
    }


    .signup-box .footer input {}

    .signup-box .footer span {}

    .signup-box .footer button {
        margin-top: 15px;
        padding: 10px;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: rgb(13, 124, 105);
        color: white;
        text-align: center;
    }