@import url(style.css);

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}



*, *::before, *::after{
    font-family: Roboto , sans-serif;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    background-color: var(--BackgroundColor-Page-BG);
    padding-block: 100px;
}

a{
    text-decoration: none;
}

